---
import '../assets/normalize.css'
import '../assets/style.css'
import '../assets/global.css'
import { SEO } from 'astro-seo'
import { getEnv } from '../lib/env'

const { SITE_URL } = Astro.locals
const { channel } = Astro.props

const locale = getEnv(import.meta.env, Astro, 'LOCALE')

const seo = channel?.seo
const canonical = SITE_URL.startsWith('http')
  ? new URL(SITE_URL).origin + Astro.url.pathname
  : Astro.url.origin + Astro.url.pathname
const origin = new URL(canonical).origin
const twitter = getEnv(import.meta.env, Astro, 'TWITTER')

const seoParams = {
  title: seo?.title,
  description: seo?.text ?? channel?.description,
  canonical,
  noindex: getEnv(import.meta.env, Astro, 'NOINDEX'),
  nofollow: getEnv(import.meta.env, Astro, 'NOFOLLOW'),
  openGraph: {
    basic: {
      type: 'website',
      title: channel?.title ?? '',
      url: canonical,
      image: channel?.avatar ? channel.avatar : origin + '/favicon.ico',
    },
    optional: {
      description: seo?.text ?? channel?.description,
      locale: getEnv(import.meta.env, Astro, 'LOCALE'),
    },
  },
  extend: {
    link: [{ rel: 'icon', href: '/favicon.svg' }],
  },
}

const HEADER_INJECT = getEnv(import.meta.env, Astro, 'HEADER_INJECT')
const FOOTER_INJECT = getEnv(import.meta.env, Astro, 'FOOTER_INJECT')
---

<!doctype html>
<html lang={locale ?? 'en'}>
  <head>
    <meta name="yandex-verification" content="8a34c65a08dbcb11" />
    <meta name="msvalidate.01" content="CED373B79B0FFC90DC6647C7EBDD50D1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#f4f1ec" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title={channel?.title}
      href={origin + '/rss.xml'}
    />
    <SEO
      charset="utf-8"
      titleTemplate={`%s | ${channel?.title}`}
      titleDefault={[channel?.title, seoParams.description]
        .filter(Boolean)
        .join(' - ')}
      twitter={{
        card: 'summary_large_image',
        creator: twitter ? `@${twitter}` : undefined,
      }}
      {...seoParams}
    />
    <Fragment set:html={HEADER_INJECT} />
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PFY56VPR6Z"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PFY56VPR6Z');
</script>
<script defer data-domain="posts.aidevin.dev" src="https://app.pageview.app/js/script.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div id="container">
        <div id="main-container">
          <slot />
        </div>
        <div id="aside-container">
          <slot name="aside">
            <div class="nav">
              <div class="nav-item">
                <a
                  href={SITE_URL}
                  title={channel?.title}
                  class={`nav-link current`}>Home</a
                >
                <a
                  href="https://www.aidevin.dev"
                  title=Devin - AI Programming Assistant | Learn Coding with Expert AI
                  class={`nav-link current`}>Ai Devin</a
                >
              </div>
           <div id="aside-container">
          <slot name="aside">
            <div class="nav">
              <div class="nav-item">
                <a
                  href="https://posts.aidevin.dev/zero-gpu-spaces"
                  title=Zero-Gpu-Spaces form Huggingface
                  class={`nav-link current`}>Zero-Gpu-Spaces</a
                >
              </div>
          <div id="aside-container">
          <slot name="aside">
            <div class="nav">
              <div class="nav-item">
                <a
                  href="https://posts.aidevin.dev/flux-1-dev"
                  title=flux.1-dev form Huggingface
                  class={`nav-link current`}>FREE FLUX.1-dev</a
                >
              </div>
            <slot name="aside">
            <div class="nav">
              <div class="nav-item">
                <a
                  href="https://posts.aidevin.dev/flux-1-schnell"
                  title=flux.1-schnell form Huggingface
                  class={`nav-link current`}>FREE FLUX.1-schnell</a
                >
              </div>
              <slot name="aside">
            <div class="nav">
              <div class="nav-item">
                <a
                  href="https://posts.aidevin.dev/stable-fast-3d/"
                  title=SF3D: Stable Fast 3D form Huggingface
                  class={`nav-link current`}>SF3D: Stable Fast 3D</a
                >
              </div>
            </div>
            <input
              class="search-icon"
              name="icon"
              type="checkbox"
              placeholder="Search"
            />
            <form class="search-form" action="/search/result" method="get">
              <input type="text" name="q" placeholder="Search" />


            </form>
            <div class="flex flex-wrap justify-center gap-4 p-4 pb-6 max-w-full md:max-w-[22rem]">
              <a class="inline-block text-nowrap py-1 px-2 text-base leading-6 border border-gray-300 text-gray-500 hover:text-[#f66619] hover:border-gray-200 hover:shadow-md font-semibold rounded-lg" target="_blank" href="https://posts.aidevin.dev/search/%23huggingface">huggingface</a>
            </div>
            <div class="flex flex-wrap justify-center gap-4 p-4 pb-6 max-w-full md:max-w-[22rem]">
              <a class="inline-block text-nowrap py-1 px-2 text-base leading-6 border border-gray-300 text-gray-500 hover:text-[#f66619] hover:border-gray-200 hover:shadow-md font-semibold rounded-lg" target="_blank" href="https://posts.aidevin.dev/search/%23FLUX">FLUX</a>
            </div>
            <div class="copyright-wrap">
              Powered by
              <a
                href="https://github.com/ccbikai/BroadcastChannel"
                title="BroadcastChannel"
                target="_blank"
                rel="noopener"
              >
                BroadcastChannel
              </a> &
              <a
                href="https://github.com/Planetable/SiteTemplateSepia"
                title="Sepia"
                target="_blank"
                rel="noopener"
              >
                Sepia
              </a>
              <div class="flex flex-wrap justify-center gap-4 p-4 pb-6 max-w-full md:max-w-[22rem]">
              <a class="inline-block text-nowrap py-1 px-2 text-base leading-6 border border-gray-300 text-gray-500 hover:text-[#f66619] hover:border-gray-200 hover:shadow-md font-semibold rounded-lg" target="_blank" href="https://serpchecker.girff.com/">Serp Checker</a>
            </div>
            </div>
          </slot>
        </div>
      </div>
    </div>
<form style="background: linear-gradient(258.56deg, #5FEE83 27.54%, #BEE0DB 103.89%); z-index: 1; " data-analytics-visible="{&quot;category&quot;:&quot;In-product banner&quot;,&quot;action&quot;:&quot;visible&quot;,&quot;label&quot;:&quot;text: universe24_banner7li&quot;}" data-turbo="false" action="/settings/dismiss-notice/dashboard_promo_universe24_7" accept-charset="UTF-8" method="post" class="box-border rounded-[var(--borderRadius-medium)] !relative !overflow-hidden !mb-[var(--base-size-24, !24px)] !px-[16px)] !py-[var(--base-size-16,] border-solid border-[var(--borderWidth-thin)] bg-[linear-gradient(258.56deg,_#5FEE83_27.54%,_#BEE0DB_103.89%)] bg-[rgb(255,_255,_255)] text-[rgb(31,_35,_40)] text-[14px] mt-0 mx-0 mb-[24px] leading-[21px] font-normal font-[-apple-system,_BlinkMacSystemFont,_&quot;Segoe_UI&quot;,_&quot;Noto_Sans&quot;,_Helvetica,_Arial,_sans-serif,_&quot;Apple_Color_Emoji&quot;,_&quot;Segoe_UI_Emoji&quot;]"><input type="hidden" name="authenticity_token" value="a7MW_xkunT1FJRGrOF_bAgCHhRaq74ArE_2JYSFBT3t8aOrak-6fWjorai3wm-KrFLUn6ubvV8pxtdXLV5qi8w" class="m-0 overflow-visible box-border">
  <picture class="box-border">
    <source srcset="https://github.githubassets.com/assets/univers24-banner-graphic-7-dae1cbe517d9.webp" type="image/webp" class="box-border">
    <source srcset="https://github.githubassets.com/assets/univers24-banner-graphic-7-3297659c5eaf.png" type="image/png" class="box-border">
    <img src="https://github.githubassets.com/assets/univers24-banner-graphic-7-3297659c5eaf.png" alt="" width="300" height="300" style="z-index: -1; height: auto;" class="box-border !absolute !bottom-0 !left-0 !w-full">
  </picture>

  <div style="top: 4px; right: 6px;" class="box-border !absolute !px-[8px)] !py-[var(--base-size-8,] top-[4px] right-[6px]">
    <button style="color: #021206 !important" data-analytics-event="{&quot;category&quot;:&quot;dashboard_notices&quot;,&quot;action&quot;:&quot;Dismiss universe24_banner7li&quot;,&quot;label&quot;:null}" aria-label="Close" type="submit" data-view-component="true" class="m-0 overflow-visible [appearance:button] box-border cursor-pointer rounded-none p-0 !text-[#021206] bg-transparent border-[0px]"><svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true">
        <path d="M3.72 3.72a.75.75 0 0 1 1.06 0L8 6.94l3.22-3.22a.749.749 0 0 1 1.275.326.749.749 0 0 1-.215.734L9.06 8l3.22 3.22a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215L8 9.06l-3.22 3.22a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042L6.94 8 3.72 4.78a.75.75 0 0 1 0-1.06Z"></path>
      </svg></button>
  </div>

  <img src="https://github.githubassets.com/assets/logo-light-2c45e33ac721.svg" alt="Universe24" width="230" height="25" style="max-width: 85%; height: auto" class="box-border !block max-w-[85%]">

  <h3 style="color: #021206 !important;" class="box-border !mt-[var(--base-size-16, !16px)] mb-0 !text-[var(--h4-size, !16px)] !font-[var(--base-text-weight-semibold, !600)] w-11/12 !text-[#021206]">
    Share and discover more about AI .
  </h3>

  <p style="color: #021206 !important;" class="box-border !mt-[var(--base-size-4, !4px)] !mb-[var(--base-size-16, !16px)] !text-[#021206] !pr-[var(--base-size-8, !8px)] !text-[var(--h6-size, !12px)]">
    with social posts from the community.huggingface/OpenAi
  </p>

  <a href="" data-analytics-event="{&quot;category&quot;:&quot;dashboard_notices&quot;,&quot;action&quot;:&quot;universe24_banner7li&quot;,&quot;label&quot;:null}" data-view-component="true" class="bg-transparent box-border !text-[rgb(255,_255,_255)] items-center [border-image-source:] [border-image-slice:] [border-image-outset:] [border-image-repeat:] border-[rgba(0,_0,_0,_0)] rounded-[8px] cursor-pointer inline-flex flex-row text-[var(--text-body-size-medium)] font-semibold gap-[var(--base-size-4)] h-[var(--control-medium-size)] justify-between min-w-max relative text-center [transition-property:color,_fill,_background-color,_border-color] w-full min-h-[36px] tracking-[-0.02em] !bg-[rgb(27,_31,_36)] !border-[1px] !border-solid !border-[rgb(72,79,88)]"> <span class="box-border items-center grid [grid-template-areas:&quot;leadingVisual_text_trailingVisual&quot;] place-content-center">
      <span class="box-border [grid-area:text] leading-[var(--text-body-lineHeight-medium)] whitespace-nowrap">Get tickets</span>
    </span>
  </a>

  <style class="box-border">
    .hugging AI 24-light-btn {
      min-height: 36px;
      border-radius: 8px;
      font-weight: 600;
      color: #fff !important;
      background: #1B1F24 !important;
      letter-spacing: -0.02em;
      border: 1px solid #484F58 !important;
    }

    .universe24-light-btn:hover {
      background: #32383F !important;
    }
  </style>

  <svg width="300" height="140" aria-hidden="true" style="width: 100%; height: auto; visibility: hidden; pointer-events: none;"></svg>
</form>
    <Fragment set:html={FOOTER_INJECT} />
  </body>
</html>
